@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: yellow;
}

h1 {
  color: black;
  font-size: large;
  font-style: normal;
}

.card {
  width: 200px;
  height: 300px;
  border-color: black;
  border-radius: 2px;
  border-style: solid;
  /* margin-right: 60%;*/
  margin-left: 40%;

  margin-top: 10%;
  align-content: center;
  align-items: center;

  position: relative;

  font-size: xx-large;
}
.top {
  width: 99%;
  height: 20%;

  position: absolute;
  font-size: x-large;
  font-family: cambria;
}

.number {
  text-align: center;
  position: absolute;
  bottom: 50%;
  font-size: X-large;
  font-family: cambria;
}
.bottom {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0%;
  font-size: X-large;
  font-family: cambria;
}
